.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 14px 3%;
    gap: 20px;
}
.logo{
    width: 250px;
    cursor: pointer;
}
.logo:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menus li{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
    cursor: pointer;
}
.nav-links {
  position: relative;
  display: inline-block;
  transition: color 0.2s, transform 0.2s;
}
.nav-links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #1e2d6d;
  transition: width 0.2s ease;
}
.nav-links:hover {
  color: #1e2d6d;
  transform: scale(1.1);
}
.nav-links:hover::after {
  width: 100%;
}
html {
    scroll-behavior: smooth;
}