.footer-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 100%;
    padding: 14px 0;
}

.columnas-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    width: 100%;
    max-width: 1000px;
}

.columnas-footer li {
    margin: 0;
    flex: 1;
    min-width: 140px;
}

.footer-direccion {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: left;
  line-height: 1.2;
  color: #333;
  font-size: 14px;
  max-width: 240px;
}

.footer-logo{
    width: 160px;
    margin-bottom: 10px;
}

.footer-menu {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 8px 0;
    line-height: 1.8;
}

.footer-derechos {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    list-style: none;
}

.footer-enlace-facebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    flex: 0 0 180px;    width: 180px;
    margin: 0 auto;
    padding: 0 10px;
    gap: 0px;
}